* {
    border-radius: 16px;
}

window {
    font-size: 16;
    font-family: "Roboto Mono Mdedium";
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
}

#entry:selected {
    background-color: rgba(192, 192, 192, 0.9);
}

#text:selected {
    color: #000000;
}

#input {
    font-size: 16;
    font-family: "Roboto Mono Mdedium";
    background-color: rgba(255, 255, 255, 0.9);
    color: #000000;
    padding: 0.25em;
}

image {
    margin-left: .25em;
    margin-right: .25em;
}
